.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000085;

  .modal-contant {
    margin: 1% auto auto auto;
    width: 80%;
    background-color: white;
  }
}
