<div class="modal-wrapper">
  <div class="modal-contant">

    <div class="modal-header">
      <div class="close-modal" (click)="closeModal()">X</div>
      <span [innerHTML]="modalContent.headerContent"></span>
    </div>

    <div class="modal-body" *ngIf="modalData?.bodyContent">
      <ng-content></ng-content>
      <span [innerHTML]="modalContent.bodyContent"></span>
    </div>

    <div class="modal-footer" *ngIf="modalData?.footerContent">
      <span [innerHTML]="modalContent.footerContent"></span>
    </div>
  </div>

</div>
