<div class="wrapper">
	<header *ngIf="isHeader" style.background="{{headerColor}}">
		<div class="header-wrapper">
			<span class="header-title" [innerHTML]="modalHeaderTextOrHtml"></span>
			<div class="close-modal" (click)="closeModal()">X</div>
		</div>
	</header>

	<main class="modal-content">
		<div class="main-wrapper">
			<span [innerHTML]="modalMainTextOrHtml"></span>
			<ng-content></ng-content>
		</div>
	</main>

	<footer *ngIf="isFooter">
		<div class="buttons-container">
			<button
				*ngFor="let button of buttons"
				(click)="button.callback($event)"
			>{{button.title || 'Click'}}</button>
		</div>
		<span [innerHTML]="modalFooterTextOrHtml"></span>
	</footer>
</div>

<span id="costume-css-container" [innerHTML]="modalStyleForCostumeHtml" *ngIf="modalStyleForCostumeHtml"></span>
